.spinner {
  @apply grid place-content-center min-h-screen;
}
.spinner__label {
  font-family: ui-monospace;
}
.spinner__label::after {
  content: "";
  position: relative;
  top: 4px;
  left: 2px;
  width: 10px;
  height: 20px;
  background: #10b981;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
